layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane close_on_exit=true cwd="/Users/user/.config/nushell" command="nu" {
        args "-e" "hx $nu.config-path"
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
